<span class="menu-title">
    MAIN
</span>

<ul class="sidebar-menu">

    {% if user.role == "admin" %}
        <li>
            <a href="{% url 'accounts:admin_dashboard' %}"
               class="{% if request.resolver_match.url_name == 'admin_dashboard' %}active{% endif %}">
                <i class="bi bi-speedometer2"></i>
                <span>Dashboard</span>
            </a>
        </li>

    {% elif user.role == "manager" %}
        <li>
            <a href="{% url 'accounts:manager_dashboard' %}"
               class="{% if request.resolver_match.url_name == 'manager_dashboard' %}active{% endif %}">
                <i class="bi bi-speedometer2"></i>
                <span>Dashboard</span>
            </a>
        </li>

    {% elif user.role == "director" %}
        <li>
            <a href="{% url 'accounts:director_dashboard' %}"
               class="{% if request.resolver_match.url_name == 'director_dashboard' %}active{% endif %}">
                <i class="bi bi-speedometer2"></i>
                <span>Dashboard</span>
            </a>
        </li>

    {% else %}
        <li>
            <a href="{% url 'accounts:dashboard' %}"
               class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                <i class="bi bi-speedometer2"></i>
                <span>Dashboard</span>
            </a>
        </li>
    {% endif %}

</ul>