{% if user.role == "admin" or user.role == "manager" or user.role == "hr" %}

<span class="menu-title mt-4">
    HUMAN RESOURCES
</span>


<ul class="sidebar-menu">


    <!-- Employees Dashboard -->
    <li>

        <a href="{% url 'employees:dashboard' %}"
           class="{% if request.resolver_match.app_name == 'employees' and request.resolver_match.url_name == 'dashboard' %}active{% endif %}">

            <i class="bi bi-people-fill"></i>

            <span>
                HR Dashboard
            </span>

        </a>

    </li>




    <!-- Employee List -->
    <li>

        <a href="{% url 'employees:list' %}"
           class="{% if request.resolver_match.app_name == 'employees' and request.resolver_match.url_name == 'list' %}active{% endif %}">

            <i class="bi bi-person-lines-fill"></i>

            <span>
                Employees
            </span>

        </a>

    </li>




    <!-- Add Employee -->
    <li>

        <a href="{% url 'employees:create' %}"
           class="{% if request.resolver_match.app_name == 'employees' and request.resolver_match.url_name == 'create' %}active{% endif %}">

            <i class="bi bi-person-plus-fill"></i>

            <span>
                Add Employee
            </span>

        </a>

    </li>




    <!-- Attendance -->
    <li>

        <a href="{% url 'employees:attendance' %}"
           class="{% if request.resolver_match.app_name == 'employees' and request.resolver_match.url_name == 'attendance' %}active{% endif %}">

            <i class="bi bi-calendar-check-fill"></i>

            <span>
                Attendance
            </span>

        </a>

    </li>




    <!-- Payroll -->
    <li>

        <a href="{% url 'employees:payroll' %}"
           class="{% if request.resolver_match.app_name == 'employees' and request.resolver_match.url_name == 'payroll' %}active{% endif %}">

            <i class="bi bi-cash-stack"></i>

            <span>
                Payroll
            </span>

        </a>

    </li>


</ul>


{% endif %}