<div class="row g-4">


<div class="col-xl-3 col-md-6">

<div class="stat-card">


<div class="stat-icon stat-primary">

<i class="bi bi-truck"></i>

</div>


<h6 class="stat-title">
Total Equipment
</h6>


<h2 class="stat-value">

{{ total_equipment }}

</h2>


</div>

</div>







<div class="col-xl-3 col-md-6">

<div class="stat-card">


<div class="stat-icon stat-success">

<i class="bi bi-check-circle"></i>

</div>


<h6 class="stat-title">
Available
</h6>


<h2 class="stat-value text-success">

{{ available_count }}

</h2>


</div>

</div>







<div class="col-xl-3 col-md-6">

<div class="stat-card">


<div class="stat-icon stat-info">

<i class="bi bi-gear"></i>

</div>


<h6 class="stat-title">
Working
</h6>


<h2 class="stat-value text-info">

{{ working_count }}

</h2>


</div>

</div>







<div class="col-xl-3 col-md-6">

<div class="stat-card">


<div class="stat-icon stat-warning">

<i class="bi bi-tools"></i>

</div>


<h6 class="stat-title">
Maintenance
</h6>


<h2 class="stat-value text-warning">

{{ maintenance_count }}

</h2>


</div>

</div>



</div>