<div class="card stat-card">

    <div class="card-body">

        <div class="d-flex justify-content-between align-items-center">

            <div>

                <small class="text-muted">

                    {{ title }}

                </small>

                <h3 class="fw-bold mt-2">

                    {{ value }}

                </h3>

                <small>

                    {{ subtitle }}

                </small>

            </div>

            <div class="icon-circle bg-{{ color }}">

                <i class="bi {{ icon }}"></i>

            </div>

        </div>

    </div>

</div>