{% extends "layouts/base.html" %}

{% block title %}Create Invoice{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h2 class="mb-4">Create New Invoice</h2>
            
            <div class="card shadow">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        
                        <div class="mt-4">
                            <button type="submit" class="btn btn-primary btn-lg px-4">
                                Save Invoice
                            </button>
                            <a href="{% url 'finance:invoice_list' %}" class="btn btn-secondary btn-lg px-4">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}